{% extends 'movies/base.html' %}

{% block body %}
<div class="container bg-light mt-xl-3" style="height: 100px;">
    <div class="container-xl h-100 bg-danger">CINEMA</div></div>
<div class="container bg-light sticky-top">
    <div class="container-xl">
        <div class="row row-cols-6 bg-dark text-light">
            <div class="col-3 bg-danger"></div>
            <div class="col bg-primary text-light">MENU</div>
        </div>
    </div>
</div>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>.
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>.
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>.
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>.
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>.
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>.
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>.
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
{% endblock %}