{% extends 'movies/base.html' %}

{% load static %}

{% block title %}
Премьеры кино, Афиша - Кинотеатр Cinema-City | Киев, Днепр, Одесса, Харьков
{% endblock %}

{% block hat %}
<aside>
    <img class="top-banner" src="{% static 'movies/img/wide.png' %}"
         onerror="this.style.display='none'">
</aside>
{% endblock %}

{% block main %}
<aside class="container p-0 mt-2">

  <div id="carouselTopIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselTopIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselTopIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselTopIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner top-carousel">
      <div class="carousel-item active">
        <img src="{% static 'movies/img/banner-3.jpg' %}" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="{% static 'movies/img/banner-2.jpg' %}" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="{% static 'movies/img/banner-1.jpg' %}" class="d-block w-100">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselTopIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselTopIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</aside>

<section id="see-today" class="container mt-2 pb-4 px-0">

  <div class="section__heading d-flex pt-3 pb-2 justify-content-center">
    <h1 class="h3">
      <b>СМОТРИТЕ СЕГОДНЯ</b>, <i>2 февраля</i>
    </h1>
  </div>

  <div class="container-fluid">

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 p-1 mx-2">
      <div class="col h-auto p-3">
        <div class="embossing d-flex flex-column border rounded h-100 text-center justify-content-between">
          <figure>
            <div class="img-container">
              <img src="{% static 'movies/img/avengers.jpg' %}" alt="Супер-мен и его друзья">
            </div>
            <figcaption class><h5>Супер-мен и его друзья</h5></figcaption>
          </figure>
          <a href="#" class="btn n-border control hover w-50 align-self-center" style="margin-bottom:-1em;">Купить билет!</a>
        </div>
      </div>

      <div class="col h-auto p-3">
        <div class="embossing d-flex flex-column border rounded h-100 text-center justify-content-between">
          <figure>
            <div class="img-container">
              <img src="{{ MEDIA_URL }}movies/iron-man.jpg" alt="Супер-мен и его друзья">
            </div>
            <figcaption class><h5>Супер-мен и его друзья</h5></figcaption>
          </figure>
          <a href="#" class="btn n-border control hover w-50 align-self-center" style="margin-bottom:-1em;">Купить билет!</a>
        </div>
      </div>

      <div class="col h-auto p-3">
        <div class="embossing d-flex flex-column border rounded h-100 text-center justify-content-between">
          <figure>
            <div class="img-container">
              <img src="{% static 'movies/img/trolley.jpg' %}" alt="Супер-мен и его друзья">
            </div>
            <figcaption class><h5>Супер-мен и его друзья</h5></figcaption>
          </figure>
          <a href="#" class="btn n-border control hover w-50 align-self-center" style="margin-bottom:-1em;">Купить билет!</a>
        </div>
      </div>

      <div class="col h-auto p-3">
        <div class="embossing d-flex flex-column border rounded h-100 text-center justify-content-between">
          <figure>
            <div class="img-container">
              <img src="{% static 'movies/img/comedy.jpg' %}" alt="Супер-мен и его друзья">
            </div>
            <figcaption class><h5>Супер-мен и его друзья</h5></figcaption>
          </figure>
          <a href="#" class="btn n-border control hover w-50 align-self-center" style="margin-bottom:-1em;">Купить билет!</a>
        </div>
      </div>

      <div class="col h-auto p-3">
        <div class="embossing d-flex flex-column border rounded h-100 text-center justify-content-between">
          <figure>
            <div class="img-container">
              <img src="{% static 'movies/img/avengers.jpg' %}" alt="Супер-мен и его друзья">
            </div>
            <figcaption class><h5>Супер-мен и его друзья</h5></figcaption>
          </figure>
          <a href="#" class="btn n-border control hover w-50 align-self-center" style="margin-bottom:-1em;">Купить билет!</a>
        </div>
      </div>

      <div class="col h-auto p-3">
        <div class="embossing d-flex flex-column border rounded h-100 text-center justify-content-between">
          <figure>
            <div class="img-container">
              <img src="{% static 'movies/img/iron-man.jpg' %}" alt="Супер-мен и его друзья">
            </div>
            <figcaption class><h5>Супер-мен и его друзья</h5></figcaption>
          </figure>
          <a href="#" class="btn n-border control hover w-50 align-self-center" style="margin-bottom:-1em;">Купить билет!</a>
        </div>
      </div>

      <div class="col h-auto p-3">
        <div class="embossing d-flex flex-column border rounded h-100 text-center justify-content-between">
          <figure>
            <div class="img-container">
              <img src="{% static 'movies/img/trolley.jpg' %}" alt="Супер-мен и его друзья">
            </div>
            <figcaption class><h5>Супер-мен и его друзья, а еще Винни-пух и все-все-все его друзья тоже </h5></figcaption>
          </figure>
          <a href="#" class="btn n-border control hover w-50 align-self-center" style="margin-bottom:-1em;">Купить билет!</a>
        </div>
      </div>

      <div class="col h-auto p-3">
        <div class="embossing d-flex flex-column border rounded h-100 text-center justify-content-between">
          <figure>
            <div class="img-container">
              <img src="{% static 'movies/img/comedy.jpg' %}" alt="Супер-мен и его друзья">
            </div>
            <figcaption class><h5>Супер-мен и его друзья</h5></figcaption>
          </figure>
          <a href="#" class="btn n-border control hover w-50 align-self-center" style="margin-bottom:-1em;">Купить билет!</a>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="soon" class="container mt-2 px-0 pb-4">

  <div class="section__heading d-flex pt-3 pb-2 justify-content-center">
    <h1 class="h3"><b>СКОРО В ПРОКАТЕ</b>
    </h1>
  </div>

  <div class="container-fluid">

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 p-1 mx-2">

      <div class="col h-auto p-3">
        <div class="embossing d-flex flex-column border rounded h-100 text-center justify-content-between">
          <figure>
            <div class="img-container">
              <img src="{% static 'movies/img/alice.jpg' %}" alt="Алиса в Стране Чудес">
            </div>
            <figcaption class><h5>Алиса в Стране Чудес</h5></figcaption>
          </figure>
          <a href="#" class="link-mask"><h3>30-го февраля</h3></a>
        </div>
      </div>

      <div class="col h-auto p-3">
        <div class="embossing d-flex flex-column border rounded h-100 text-center justify-content-between">
          <figure>
            <div class="img-container">
              <img src="{% static 'movies/img/ass.jpg' %}" alt="Алиса в Стране Чудес">
            </div>
            <figcaption class><h5>Алиса в Стране Чудес</h5></figcaption>
          </figure>
          <a href="#" class="link-mask"><h3>30-го февраля</h3></a>
        </div>
      </div>

      <div class="col h-auto p-3">
        <div class="embossing d-flex flex-column border rounded h-100 text-center justify-content-between">
          <figure>
            <div class="img-container">
              <img src="{% static 'movies/img/io.jpg' %}" alt="Алиса в Стране Чудес">
            </div>
            <figcaption><h5>Алиса в Стране Чудес</h5></figcaption>
          </figure>
          <a href="#" class="link-mask"><h3>30-го февраля</h3></a>
        </div>
      </div>

      <div class="col h-auto p-3">
        <div class="embossing d-flex flex-column border rounded h-100 text-center justify-content-between">
          <figure>
            <div class="img-container">
              <img src="{% static 'movies/img/after.jpg' %}" alt="Алиса в Стране Чудес">
            </div>
            <figcaption class><h5>Алиса в Стране Чудес</h5></figcaption>
          </figure>
          <a href="#" class="link-mask"><h3>30-го февраля</h3></a>
        </div>
      </div>

    </div>
  </div>

</section>
{% endblock %}