/* line 8, movies/static/movies/scss/style.scss */
.body-bg-holder {
  background-image: url("/static/movies/img/starwars.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  background-size: 100%;
  background-color: black; }

/* line 17, movies/static/movies/scss/style.scss */
.container {
  background-color: #555 !important; }

/* line 21, movies/static/movies/scss/style.scss */
#logo-holder {
  height: 100px;
  z-index: 0; }

/* line 26, movies/static/movies/scss/style.scss */
header .col {
  text-align: center; }

/* line 30, movies/static/movies/scss/style.scss */
.n-border {
  border: 0;
  border-radius: 0; }

/* line 36, movies/static/movies/scss/style.scss */
.navigation * {
  margin: 0 0.5em; }

/* line 40, movies/static/movies/scss/style.scss */
.navigation *:first-child {
  margin-left: 0; }

/* line 44, movies/static/movies/scss/style.scss */
.navigation *:last-child {
  margin-right: 0; }

/* line 48, movies/static/movies/scss/style.scss */
.navigation *:only-child {
  margin: 0 0.5em; }

/* line 66, movies/static/movies/scss/style.scss */
.control {
  background-color: orange;
  color: #555; }
  /* line 59, movies/static/movies/scss/style.scss */
  .control.hover:hover {
    background-color: #555;
    color: white; }

/* line 75, movies/static/movies/scss/style.scss */
.navigation__item {
  border: 1px groove;
  border-radius: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  max-width: fit-content; }
  /* line 84, movies/static/movies/scss/style.scss */
  .navigation__item a {
    width: 100%;
    height: 100%; }

@media (min-width: 1280px) {
  /* line 90, movies/static/movies/scss/style.scss */
  .navigation__item {
    min-width: fit-content;
    max-width: none; } }

/* line 96, movies/static/movies/scss/style.scss */
.link-mask {
  text-decoration: none;
  color: inherit; }
  /* line 100, movies/static/movies/scss/style.scss */
  .link-mask:hover {
    color: inherit; }

/* line 105, movies/static/movies/scss/style.scss */
.top-banner {
  display: none; }

@media (min-width: 768px) {
  /* line 109, movies/static/movies/scss/style.scss */
  .top-banner {
    display: block;
    width: 100%;
    height: auto; } }

/* line 116, movies/static/movies/scss/style.scss */
.top-carousel {
  height: 500px; }
