/* line 5, movies/static/movies/scss/style.scss */
body {
  background-image: url("/static/movies/img/starwars.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  background-size: 100%;
  background-color: black; }

/* line 15, movies/static/movies/scss/style.scss */
#header-container {
  background-color: #555 !important; }

/* line 19, movies/static/movies/scss/style.scss */
#logo-holder {
  height: 100px;
  padding-bottom: 5em; }

/* line 24, movies/static/movies/scss/style.scss */
header .col {
  text-align: center; }

/* line 28, movies/static/movies/scss/style.scss */
.n-border {
  border: 0;
  border-radius: 0; }

/* line 34, movies/static/movies/scss/style.scss */
.navigation .col {
  border: 1px groove;
  border-radius: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5em;
  padding: 0; }

/* line 44, movies/static/movies/scss/style.scss */
.navigation .col:first-child {
  margin-left: 0; }

/* line 48, movies/static/movies/scss/style.scss */
.navigation .col:last-child {
  margin-right: 0; }

/* line 53, movies/static/movies/scss/style.scss */
.navbar-link {
  text-decoration: none;
  color: inherit; }

/* line 58, movies/static/movies/scss/style.scss */
.btn-search {
  background-color: orange; }
