/* line 1, movies/static/movies/scss/style.scss */
body {
  background-image: url("https://www.itl.cat/pngfile/big/144-1446980_mass-effect-3-concept-art-hd-wide-wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

/* line 8, movies/static/movies/scss/style.scss */
#header-container {
  background-color: rgba(255, 99, 71, 0.5) !important; }

/* line 12, movies/static/movies/scss/style.scss */
div .hello {
  background-color: red;
  height: 100px; }
