/* line 4, movies/static/movies/scss/style.scss */
body {
  background-image: url("/static/movies/img/starwars.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  background-size: 100%;
  background-color: black; }

/* line 14, movies/static/movies/scss/style.scss */
#header-container {
  background-color: #555 !important; }

/* line 18, movies/static/movies/scss/style.scss */
#logo-holder {
  height: 100px; }

/* line 22, movies/static/movies/scss/style.scss */
.col {
  text-align: center;
  size: auto; }
