/* line 9, movies/static/movies/scss/style.scss */
body {
  font-family: Montserrat, Arial, sans-serif; }

/* line 13, movies/static/movies/scss/style.scss */
.body-bg-holder {
  background-image: url("/static/movies/img/starwars.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  background-size: 100%;
  background-color: black;
  color: white; }

/* line 23, movies/static/movies/scss/style.scss */
section {
  background-color: #333 !important;
  color: black; }

/* line 28, movies/static/movies/scss/style.scss */
header, footer {
  color: white; }

/* line 32, movies/static/movies/scss/style.scss */
header {
  background-color: #333; }

/* line 36, movies/static/movies/scss/style.scss */
footer {
  background-color: #1a1a1a; }

/* line 40, movies/static/movies/scss/style.scss */
#logo-holder {
  height: 100px;
  z-index: 1; }

/* line 45, movies/static/movies/scss/style.scss */
header .col {
  text-align: center; }

/* line 49, movies/static/movies/scss/style.scss */
.n-border {
  border: 0;
  border-radius: 0; }

/* line 67, movies/static/movies/scss/style.scss */
.control {
  background-color: orange;
  color: black; }
  /* line 60, movies/static/movies/scss/style.scss */
  .control.hover:hover {
    background-color: #333;
    color: white; }

/* line 77, movies/static/movies/scss/style.scss */
.navigation * {
  margin: 0 0.5em; }

/* line 81, movies/static/movies/scss/style.scss */
.navigation *:first-child {
  margin-left: 0; }

/* line 85, movies/static/movies/scss/style.scss */
.navigation *:last-child {
  margin-right: 0; }

/* line 89, movies/static/movies/scss/style.scss */
.navigation *:only-child {
  margin: 0 0.5em; }

/* line 94, movies/static/movies/scss/style.scss */
.navigation__item {
  border: 2px outset;
  border-color: #1a1a1a;
  border-radius: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  max-width: fit-content; }
  /* line 104, movies/static/movies/scss/style.scss */
  .navigation__item a {
    width: 100%;
    height: 100%; }

@media (min-width: 1280px) {
  /* line 110, movies/static/movies/scss/style.scss */
  .navigation__item {
    min-width: fit-content;
    max-width: none; } }

/* line 116, movies/static/movies/scss/style.scss */
.link-mask {
  text-decoration: none;
  color: inherit; }
  /* line 120, movies/static/movies/scss/style.scss */
  .link-mask:hover {
    color: inherit; }

/* line 125, movies/static/movies/scss/style.scss */
.top-banner {
  display: none; }

@media (min-width: 768px) {
  /* line 129, movies/static/movies/scss/style.scss */
  .top-banner {
    display: block;
    width: 100%;
    height: auto; } }

/* line 136, movies/static/movies/scss/style.scss */
.top-carousel {
  height: 500px; }

/* line 140, movies/static/movies/scss/style.scss */
.section__heading {
  background-color: orange; }

/* line 144, movies/static/movies/scss/style.scss */
.img-container {
  position: relative;
  padding-top: 150%;
  height: 0;
  overflow: hidden; }

/* line 151, movies/static/movies/scss/style.scss */
.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 159, movies/static/movies/scss/style.scss */
.embossing {
  background-color: #666666;
  box-shadow: 0.25em 0.25em black; }

/* line 164, movies/static/movies/scss/style.scss */
footer p {
  font-size: 80%;
  font-weight: 300; }
